@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Bebas Neue', cursive;
}




.section {
    background: url(/images/barra.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.slogan {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    text-align: center;
    width: 100%;
}

.text-center {
    text-align: center;
    font-size: 30px;
    color: #EDA400;
}

.slogan h2 {
    font-size: 50px;
    color: #eefafa;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
}

.section-2 {
    background-color: #333333fd;
    min-height: 40vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    place-items: center;
    padding: 40px;
    z-index: 0;
}

@media screen and (max-width: 990px) {
    .section-2 {
        padding: 10px;
    }
}
@media screen and (max-width: 940px) {
    .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
    .img-cerveza {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:  670px) {
    .slogan h2 {
        font-size: 40px;
    }
}

.img-cerveza img {
    height: 200px;
}
@media screen and (max-width: 633px) {
    .img-cerveza img {
        height: 170px;
    }
    .text-center {
        font-size: 25px;
    }
}
@media screen and (max-width: 535px) {
    .section-2 {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .img-cerveza img {
        height: 200px;
    }
    .text-center {
        font-size: 30px;
    }
    
}
.p-20 {
    padding: 20px;
}

.footer {
    min-height: 30vh;
    background-color: #EDA400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    font-size: 40px;
}

/* contact us */
