
.section1 {
    background-image: url(/images/vasonegro.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
.section2 {
    min-height: 40vh;
    background-color: #EDA400;
    display: flex;
    justify-content: space-evenly;
}

.section2 .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 450px;
}


.box-second{
    align-items: flex-start;
}